.text{
    height: 10vh;
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
}
.h1{
    font-size: 2em;
   font-family: gilroy;
   font-weight: 100;
}
.tarea{
    margin-left: 25%;
    margin-top: 5%;
    
}
.tarea textarea{
    border: 2px solid rgb(163, 227, 255);
   
    font-family: gilroy;
}
.buton{
    margin-left: 61%;
    height: 4vh;
    width: 10vw;
    background-color: yellow;
    margin-top: 2%;
    border: none;
}